* {
  font-family: Helvetica;
}
body {
  margin: 0;
}

.baner {
  background-color: #00838f;
  color: white !important;
  padding: 5px;
  font-size: 130%;
  text-align: center;
}

.stopka {
  background-color: #00838f;
  color: white !important;
  padding: 5px;
  font-size: 130%;
  text-align: center;
}

.bloki-lewe {
  background-color: #efefef;
  width: 55%;
}

.bloki-lewe .blok-lewy-1 {
  height: 150px;
}

.bloki-lewe .blok-lewy-2 {
  height: -300px;
}

.blok-prawy {
  background-color: #4fb3bf;
  width: 45%;
  height: 450px;
  text-align: center;
}

img {
  box-shadow: 10px 10px 7px dimgray;
  margin: 20px;
}

.bloki {
  display: flex;
  justify-content: space-between;
}

table,
td,
th {
  border: 1px solid #4fb3bf;
  border-collapse: collapse;
}

table {
  margin: auto !important;
  width: 80%;
}

td,
th {
  padding: 4px;
}

tr:hover {
  background-color: #4fb3bf;
}
